@font-face {
    font-family: HankenGrotesk;
    /* for performance reasons*/
    font-display: swap;
    /* this way we make all weights available */
    font-weight: 100 900;
    src: url('../fonts/HankenGrotesk-VariableFont_wght.ttf');
}

/* 
================================================================
  Global variables
================================================================
*/

:root {
    --light-red: 0, 100%, 67%;
    --orangey-yellow: 39, 100%, 56%;
    --green-teal: 166, 100%, 37%;
    --cobalt-blue: 234, 85%, 45%;
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);

    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    --border-radius: 3rem;

    --opacity: 0.6;

    --fs-18: 1.8rem;

    --fw-500: 500;
    --fw-700: 700;
    --fw-800: 800;
}

/* 
================================================================
  Global styles and resets
================================================================
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-height: 100dvh;
    font-family: HankenGrotesk, Arial, Helvetica, sans-serif;
    color: var(--black);
    background-color: var(--white);
}

svg {
    display: block;
    max-width: 100%;
}

/* 
================================================================
  Utility classes
================================================================
*/

.fs-18 {
    font-size: var(--fs-18);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.fw-700 {
    font-weight: var(--fw-700);
}

.fw-800 {
    font-weight: var(--fw-800);
}

.opaque {
    opacity: var(--opacity);
}

/* 
================================================================
  main style
================================================================
*/

main {
    display: grid;
    place-content: center;
    max-width: 65rem;
    background-color: var(--white);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    overflow: hidden;
}

/* 
================================================================
  'Your results' styles
================================================================
*/

.results__summary {
    display: grid;
    place-content: center;
    text-align: center;
    gap: 2rem;
    padding: 3rem 4.5rem 4rem;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    background-image: linear-gradient(
        var(--light-slate-blue),
        var(--light-royal-blue));
    color: var(--white);
}

.header__title,
.summary__title {
    font-size: 2rem;
}

.score__container {
    width: 16rem;
    aspect-ratio: 1 / 1;
    border-radius: 100vw;
    margin-inline: auto;
    display: grid;
    place-content: center;
    background-image: linear-gradient(
        var(--violet-blue),
        var(--persian-blue));
}

.score__overall {
    font-size: 6rem;
}

.score__judgment {
    font-size: 3rem;
}

/* 
================================================================
  'Summary' styles
================================================================
*/

.results__detailed {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.results__container {
    display: grid;
    gap: 1.5rem;
}

.property__details {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 1rem;
}

.property__container {
    display: flex;
    align-items: center;
}

.property__name {
    padding-inline: 0.5rem;
    font-weight: var(--fw-500);
}

.property__score {
    color: var(--black);
}

.property__score b {
    font-weight: var(--fw-500);
}

.property__score::after {
    content: ' / 100';
    opacity: var(--opacity);
}

/* property specific design */

.reaction__section {
    color: hsl(var(--light-red));
    background-color: hsla(var(--light-red), 0.1);
}

.memory__section {
    color: hsl(var(--orangey-yellow));
    background-color: hsla(var(--orangey-yellow), 0.1);
}

.verbal__section {
    color: hsl(var(--green-teal));
    background-color: hsla(var(--green-teal), 0.1);
}

.visual__section {
    color: hsl(var(--cobalt-blue));
    background-color: hsla(var(--cobalt-blue), 0.1);
}

button {
    font-size: 1.5rem;
    font-weight: var(--fw-700);
    height: 4.5rem;
    color: var(--white);
    background-color: var(--dark-gray-blue);
    border: none;
    border-radius: 100vw;
}

button:hover,
button:focus-visible {
    background-image: linear-gradient(
        var(--light-slate-blue),
        var(--light-royal-blue));
    cursor: pointer;
}

/* 
================================================================
  Footer design
================================================================
*/

footer {
    width: 100%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* 
================================================================
  Media query for desktop design
================================================================
*/

@media (min-width: 35rem) {
    body {
        display: grid;
        grid-template-rows: auto min-content auto min-content;
        justify-content: center;
        background-color: var(--pale-blue);
    }

    main {
        grid-template-columns: 1fr 1fr;
        border-radius: var(--border-radius);
        grid-row: 2 / 3;
    }

    .score__container {
        width: 18rem;
    }

    .score__overall {
        font-size: 7rem;
    }

    .score__judgment {
        font-size: 3rem;
    }

    .results__summary {
        border-radius: var(--border-radius);
        padding: 3rem 3rem 4rem;
    }

    footer {
        grid-row: 4 / -1;
    }
}